* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #88E4A8;
    box-shadow: rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

header h2 {
    font-size: 30px;
    color: white;
    text-align: center;
}

#deltaBigger--hide {
   visibility: hidden;
}

#deltaBigger {
    background-color: red;
   
}

#deltaEqual--hide {
    visibility: hidden;
}

#deltaEqual {
    background-color: rgb(0, 255, 47);
}

#deltaSmaller--hide {
    visibility: hidden;
}

#deltaSmaller {
    background-color: rgb(0, 30, 255);
}
